[submodule "rails-minor-mode"]
	path = rails-minor-mode
	url = git@github.com:mreinsch/emacs-rails.git
[submodule "scss-mode"]
	path = scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
